.header {
    margin: 5px 0;
    display: flex;
    &__logo {
        margin-right: 5px;
        align-self: center;
    }
    &__ads {
        display: inline-block;
    }
}
@media @MQ_M-L {
    .bem_main-header {
        flex-direction: row;
        &__top-ads-header {
            width: @desktop-body-width;
        }
    }
    
}

