.header {
    margin: 5px 0;
    display: flex;
    &__logo {
        margin-right: 5px;
        align-self: center;   
    }
    &__ads {
        display: block;
    }
    &__adsimg {
        width: 99%;
        height: 94%;
    }
}
@media @MQ_S {
    .container__content{
        height: 46.1%;
    }
}
@media @MQ_M{
    .container__content{
        height: 45.4%;
    } 
}
@media  @MQ_L{
    .container__content{      
        height: 42.2%;
    } 
    .header {
        margin: 5px 0;
        display: flex;
        &__logo {
            margin-right: 5px;
            align-self: center;   
        }
        &__ads {
            display: block;
        }
        &__logoimg{
            width: 115%;
        }
        &__adsimg {
            margin-left: 5%;
            width: 115%;
        }
        
    }

}

