
.container{
    &__column{
        display: inline-block;
        flex-direction: column;
    }
    &__sidebar{
        background-color: #fff;
        border-radius: 5px; 
        margin: 5px 0px 5px 5px;
        margin-left:20px; 
        padding: 20px;
    }
}